<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>my html</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%=date%></h1>
    </div>
    <div class="box">
        <% for(var i=0; i<listitem.length; i++) { %>
          <div class="item">
            <form class="" action="/delete" method="post">
               <input type="checkbox" name="checkbox" value="<%=listitem[i]%>" onChange="this.form.submit()">
            </form>
          <p><%=listitem[i]%></p>
          </div>
          <%}%>
      <form class="item" action="/users" method="POST" autocomplete"off">
        <input type="text" name="listitem" placeholder="your list">
        <button type="submit" name="listname" value="<%=date%>" >+</button>
      </form>
    </div>
  </body>
</html>
