<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>my html</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%=date%></h1>
    </div>
    <div class="box">
        <% for(var i=0; i<listitem.length; i++) { %>
          <div class="item">
            <input type="checkbox">
            <p><%=listitem[i]%></p> 
          </div>
          <%}%>
      <form action="/" method="POST" autocomplete"off">
        <input type="text" name="listitem" placeholder="your list">
        <button type="submit" name=<%=date%> >+</button>
      </form>
    </div>
  </body>
</html>

<%#the most amazing thing about this code is that i will print the all the tags that are contained inside the control statment and loop statemnet %>
<%# because all our html tags under the js code embedded code will appended to the html file as the code detrmine whih makes agian the html templating to a very high level%>
<%# thats why the embedded code shpuld be written very carefully because it takes all of our tags and make it part of the code that is why at which tg you need to write it you shuld define the code at that point%>



    